{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Focal Point plugin for Craft CMS 3.x
 *
 * FocalPointField Field Input
 *
 * @author    Værsågod
 * @copyright Copyright (c) 2018 Værsågod
 * @link      www.vaersaagod.no
 * @package   FocalPoint
 * @since     1.0.0
 */
#}

{% if asset ?? false %}
    {% if asset.getExtension() | lower in ['jpg', 'jpeg', 'gif', 'svg', 'png'] %}
        <div data-focalpointfield>
            <img src="{{ asset.getUrl({ width: 300 }) }}" width="300" title="{{ 'Click image to set focal point' | t }}" draggable="false" data-focalpointfield-image>
        </div>
        <input type="hidden" name="{{ name }}" value="{{ value | json_encode(true) }}" data-focalpointfield-value>
    {% else %}
        <span data-focalpointfield-error>{{ 'This is not an image' | t }}</span>
    {% endif %}
{% else %}
    <span data-focalpointfield-error>{{ 'This field type can only be used on Assets' | t }}</span>
{% endif %}
